.logo{
    float: left;
    width: 100px;
    height: 50px;
    padding-left: 7%;
    padding-top: 30px;
}
.nav-con{
    float: right;
    width: 1000px;
    margin-right: 50px;
}
.nav-con ul{
    list-style: none;
}
.nav-con li{
    float: left;
    height: 50px;
    margin-right: 40px;
    padding-top: 38px;
}
.search-btn{
    float: right;
    width: 200px;
    height: 40px;
    margin-top: 18px;
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 20px;
    border: 2px solid #151618;
}
header{
    width: 100%;
    height: 600px;
    background-color: lightgrey;
    padding-top: 200px;
    padding-left: 7%;
}
.btn{
    float: left;
    width: 150px;
    height: 45px;
    border-radius: 30px;
    background-color:black;
    color: white;
    margin-right: 20px;
}


.like-btn{
    float: right;
    margin-right: 750px;
}
.vid-box{
    width: 500px;
    height: 250px;
    margin-top: -50px;
    background-color: grey;
   
}
.feature{
    width: 600px;
    height: 400px;
    margin-top: -50px;
    margin-left: -80px;
    background-color: rgb(231, 159, 159);
}

.col-box{
    width: 200px;
    height: 200px;
    margin-left: 7%;
    margin-top: 20px;
    background-color: grey;
}
.recent{
    margin-bottom: 80px;
    margin-top: 80px;
}
footer{
    width: 100%;
    height: 80px;
    background-color: grey;
    margin-top: 80px;
}