.logo{
    float: left;
    width: 100px;
    height: 50px;
    padding-left: 7%;
    padding-top: 30px;
}
.nav-con{
    float: right;
    width: 1000px;
    margin-right: 50px;
}
.nav-con ul{
    list-style: none;
}
.nav-con li{
    float: left;
    height: 50px;
    margin-right: 40px;
    padding-top: 38px;
}
.search-btn{
    float: right;
    width: 200px;
    height: 40px;
    margin-top: 18px;
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 20px;
    border: 2px solid #151618;
}
.mix-header{
    padding-top: 120px;
}
.favorites-mix{
    width: 350px;
    height: 350px;
    background-color: lightgrey;
    margin-top: 35px;
    padding-top: 130px;
    padding-left: 75px;
}